<div id="<%= dom_id subreddit %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= subreddit.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= subreddit.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= subreddit.user_id %>
  </div>
</div>
